{% load static %}

<head>
    <title>Algorand Trading ALGO</title>
<body>
<table style="box-shadow:1px 1px 10px white">
    <div class="slideshow-container">
        <div class="mySlides fade">
            <img src="{% static 'img/algo.css' %}" style="width:1100px" height="350px">
        </div>
    </div>
            <br>
    <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
    </div>

    <tr style="background-color:blue;color:white;height:25px">
        <td><marquee behavior="alternate">
            Welcome now you can buy ALGO coin from Coinmarketcap or among users ...let's go!!
        </marquee></td>
    </tr>
</table>
</body>

